
/*header part*/

.header-container {
  display: flex;
  border-bottom: 1px black solid;
  padding-bottom: 10px;
  position: fixed;
  z-index: 1;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
}

.logo-container {
  display: flex;
  align-items: center;
  padding-left: 20px;
  border: 1px black dotted;
  flex: 2;

}

.logo-container span {
  margin-left: 10px;
  color: MediumAquamarine;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px black dotted;
  flex: 1;

}

.nav-container a {
  color: black;
}

/*body part*/
.body-container {
  display: flex;
  border: 2px black solid;
  justify-content: space-between;
  margin: 10px 30px;
  padding-top: 116px;
}

 p {
   font-family: Georgia;
   font-size: 17px;
   color: black;
 }

.column, .image-box, .text-box, .news-bite {
  border: 2px grey solid;
}

.column-large {
  width: 630px;
}

.column-medium {
  width: 300px;
}

.column-small {
  width: 240px;
  border: 2px grey solid;
}

.image-box {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  height: 300px;
  justify-content: center;
}

#mother {
  display: flex;
  background-image:url(images/img-story-main.png);
  text-align: left;
}

#earth {
  display: flex;
  background-image:url(images/img-story-2.png);
}

#research {
  display: flex;
  background-image:url(images/img-story-3.png);
}

#cats {
  display: flex;
  background-image:url(images/img-story-1.png);
}

.stories {
  display: flex;
  justify-content: space-between;;
}

.stories .story {
  width: 300px;
}
